/* Main content */

.confrim-registration-container {
	margin: auto;
	text-align: right;
	min-width: 75%;
}

@media (max-width: 767px) {
	.confrim-registration-container {
		margin: auto;
		text-align: center;
		min-width: 75%;
	}
}

/* Main content */